.card{
    -webkit-box-shadow: 2px 3px 18px -2px rgba(186,186,186,0.68);
    -moz-box-shadow: 2px 3px 18px -2px rgba(186,186,186,0.68);
    box-shadow: 2px 3px 18px -2px rgba(186,186,186,0.68);
}

.course-image-container {
    width: 100%;
    height: 30%;
    content: url("../images/headerbk.jpg");
}

.home-main-header{
    margin-bottom: 50px;
}

.section-home-trainer{
    border-bottom:1px solid #dad9d9;
    background: #f2f2f2;
}

.section-home-curs {
    border-bottom:1px solid #dad9d9;
}

.home-header {
    border-bottom:1px solid #dad9d9;
    height: 960px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.take-action-message {
    margin-top: 30px;
}

