<!doctype html>
<html lang="en">


<head>
    <title>Speak Programming</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Mobland - Mobile App Landing Page Template">
    <meta name="keywords" content="HTML5, bootstrap, mobile, app, landing, ios, android, responsive">
    <!-- Font -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="dns-prefetch" href="//fonts.googleapis.com">
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <!-- Themify Icons -->
    <link rel="stylesheet" href="../../css/themify-icons.css">
    <!-- Owl carousel -->
    <link rel="stylesheet" href="../../css/owl.carousel.min.css">
    <link rel="stylesheet" href="../css/detalii-curs.css">
    <!-- Main css -->
    <link href="../../css/style.css" rel="stylesheet">
    <link rel="shortcut icon" href="../images/partea_de_susLogo.png"/>
    <!-- jQuery and Bootstrap -->
    <script src="../../js/jquery-3.2.1.min.js"></script>
    <script src="../../js/bootstrap.bundle.min.js"></script>
    <!-- Plugins JS -->
    <script src="../../js/owl.carousel.min.js"></script>
    <!-- Custom JS -->

</head>

<body data-spy="scroll" data-target="#navbar" data-offset="30">

<!-- Nav Menu -->
<div class="nav-menu fixed-top">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-dark navbar-expand-lg">
                    <a class="navbar-brand" href="../../home-page/index.html"><img src="../../images/logo_partea_deJos.png" height="43" width="43" class="img-fluid" alt="logo"></a> <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
                    <div class="collapse navbar-collapse" id="navbar">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item"> <a class="nav-link active" href="../../home-page/index.html">HOME <span class="sr-only">(current)</span></a> </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>

<!-- Header start -->

<header  class="header-detalii-curs">
        <h2 class="detalii-curs-titlu" id="cursTitle">Java-Script Basics</h2>
        <h4 class="detalii-curs-motto">Vino sa dram drumul primei noastre aplicatii</h4>
        <div class="detalii-curs-button-container">
            <button type="button" class="btn btn-dark">Inscrie-te</button>
        </div>
    </div>
</header>

<!-- Header ends -->

<!-- Info curs start -->
<section class="info-curs-container">
        <div class="info-title" >
            <h2>Informatii despre cursul intro in web development</h2>
        </div>
    <div class="info-curs-detalii" >
        <div class="informatii-curs-sumar">
            <h3 >Informatii Curs</h3>
            <div class="informatii-curs-row">
                <p> Nivel  </p>
                <p> Introducere </p>
            </div>
            <div class="informatii-curs-row">
                <p> Data start</p>
                <p> Mar 5,2019 <i class="far fa-calendar-alt"></i></p>
            </div>
            <div class="informatii-curs-row">
                <p> Durata </p>
                <div class="row-second-elem">
                    <p> 4 luni </p>
                    <p> 5 ore/saptamana </p>
                    <p> 80 de ore </p>
                </div>
            </div>
            <div class="informatii-curs-row">
                <p> Investitie </p>
                <p class="row-second-elem"> 1500 RON</p>
            </div>
            <div class="informatii-curs-row">
                <p> Traineri </p>
                <div class="info-curs-row-column">
                    <p class="textOffset"> Rosu Catalin <i href="https://www.linkedin.com/in/ro%C8%99u-c%C4%83t%C4%83lin-dorin-872322112/" class="fab fa-linkedin"></i></p>
                    <p class="textOffset"> Pausan Ionut <i class="fab fa-linkedin"></i></p>
                </div>
            </div>
        </div>
        <div class="descriere-curs">
            <!-- put text into variables -->
                <h4>Pentru cine facem acest curs</h4>
                <p> Acest curs iti va arata ca si tu poti construi aplicatii web chiar daca nu ai experienta in domeniul tehnic.<br> De ce ai nevoie este de o motivatie puternica,gandire  logica si cacaturi </p>
                <h4> Desciere</h4>
                <p>Lorem Ipsum este pur şi simplu o machetă pentru text a industriei tipografice. Lorem Ipsum a fost macheta standard a industriei încă din secolul al XVI-lea, când un tipograf anonim a luat o planşetă de litere şi le-a amestecat pentru a crea o carte demonstrativă pentru literele respective. Nu doar că a supravieţuit timp de cinci secole, dar şi a facut saltul în tipografia electronică practic neschimbată. A fost popularizată în anii '60 odată cu ieşirea colilor Letraset care conţineau pasaje Lorem Ipsum, iar mai recent, prin programele de publicare pentru calculator, ca Aldus PageMaker care includeau versiuni de Lorem Ipsum.</p>
        </div>
    </div>
</section>
<!-- Info curs ends -->

<!-- Trainer description start -->
<div class="DescriereTrainer">
        <div>
            <h3> Traineri Web Development</h3>
        </div>
        <div class="contentTrainerDetails">
            <div class="team-box-trainer">
                <div class="team-img">
                    <img src="../../images/pozaIonutPausan.jpg" class="rounded-circle" alt="Cinque Terre" width="136" height="136">
                </div>
                <div class="team-title-trainer ">
                    <h3>Ionut Pausan</h3>
                </div>
            </div>
            <div class="descriereTrainer">
                <p class="textOffset">Descriere trainer</p>
                <p> Acest curs iti va arata ca si tu poti construi aplicatii web chiar daca nu ai experienta in domeniul tehnic.<br> De ce ai nevoie este de o motivatie puternica,gandire  logica si cacaturi </p>
                <div class="repetClassStyle"><span>2 ani experienta</span></div>
                <div class="repetClassStyle"><span>linkedin</span></div>
                <div class="repetClassStyle" ><span>2 ani experienta</span></div>
            </div>
        </div>
        <div class="contentTrainerDetails">
            <div class="team-box-trainer">
                <div class="team-img">
                    <img src="../../images/pozaIonutPausan.jpg" class="rounded-circle" alt="Cinque Terre" width="136" height="136">
                </div>
                <div class="team-title-trainer ">
                    <h3>Ionut Pausan</h3>
                </div>
            </div>
            <div class="descriereTrainer">
                <p class="textOffset">Descriere trainer</p>
                <p> Acest curs iti va arata ca si tu poti construi aplicatii web chiar daca nu ai experienta in domeniul tehnic.<br> De ce ai nevoie este de o motivatie puternica,gandire  logica si cacaturi </p>
                <div class="repetClassStyle"><span>2 ani experienta</span></div>
                <div class="repetClassStyle"><span>linkedin</span></div>
                <div class="repetClassStyle" ><span>2 ani experienta</span></div>
            </div>
        </div>
    </div>
<!-- Trainer description end -->


<footer class="my-5 text-center">
    <!-- Copyright removal is not prohibited! -->
    <p class="mb-2"><small>COPYRIGHT © 2017. ALL RIGHTS RESERVED. MOBAPP TEMPLATE BY <a href="https://colorlib.com">COLORLIB</a></small></p>

    <small>
        <a href="#" class="m-2">PRESS</a>
        <a href="#" class="m-2">TERMS</a>
        <a href="#" class="m-2">PRIVACY</a>
    </small>
</footer>


</body>

</html>
