<!doctype html>
<html lang="en">


<head>
    <title>Speak Programming</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Mobland - Mobile App Landing Page Template">
    <meta name="keywords" content="HTML5, bootstrap, mobile, app, landing, ios, android, responsive">
    <!-- Font -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <!-- Themify Icons -->
    <link rel="stylesheet" href="../../css/themify-icons.css">
    <!-- Owl carousel -->
    <link rel="stylesheet" href="../../css/owl.carousel.min.css">
    <link rel="stylesheet" href="../css/detalii-curs.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker3.css">
    <!-- Main css -->
    <link href="../../css/style.css" rel="stylesheet">
    <link rel="shortcut icon" href="../../images/partea_de_susLogo.png"/>
    <!-- jQuery and Bootstrap -->
    <script src="../../js/jquery-3.2.1.min.js"></script>
    <script src="../../js/bootstrap.bundle.min.js"></script>
    <!-- Plugins JS -->
    <script src="../../js/owl.carousel.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>
    <script src="../js/formValidation.js"></script>
    <!-- Custom JS -->

</head>

<body data-spy="scroll" data-target="#navbar" data-offset="30">

<!-- Nav Menu -->
<div class="nav-menu fixed-top">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-dark navbar-expand-lg">
                    <a class="navbar-brand" href="../../home-page/index.html"><img src="../../images/logo_partea_deJos.png" height="43" width="43" class="img-fluid" alt="logo"></a> <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
                    <div class="collapse navbar-collapse" id="navbar">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item"> <a class="nav-link active" href="../../home-page/index.html">HOME <span class="sr-only">(current)</span></a> </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>

<!-- Header start -->

<header  class="header-detalii-curs">
        <h2 class="detalii-curs-titlu">Java-Script Basics</h2>
        <h4 class="detalii-curs-motto">Vino sa dram drumul primei noastre aplicatii</h4>
        <div class="detalii-curs-button-container">
            <button type="button" class="btn btn-dark enroll-header-btn">
                <a href="#enroll-form">INSCRIE-TE</a>
            </button>
        </div>
    </div>
</header>

<!-- Header ends -->

<!-- Info curs start -->
<section class="curs-container">
<div class="info-curs-container">
    <div class="info-title" >
        <h2>Informatii despre cursul intro in web development</h2>
    </div>
    <div class="info-curs-detalii" >
        <div class="informatii-curs-sumar">
            <h3>Informatii Curs</h3>
            <div class="informatii-curs-row">
                <div class="row-first-elem">
                    <p>Nivel</p>
                </div>
                <p class="row-second-elem">Introducere </p>
            </div>
            <div class="informatii-curs-row">
                <div class="row-first-elem">
                    <p>Data start</p>
                </div>
                <div class="row-second-elem">
                    <div class="trainer-linkedin">
                        <p>Mar 5,2019</p>
                        <i class="far fa-calendar-alt"></i>
                    </div>
                </div>
            </div>
            <div class="informatii-curs-row">
                <div class="row-first-elem">
                    <p>Durata</p>
                </div>
                <div class="row-second-elem">
                    <p>4 luni </p>
                    <p>5 ore/saptamana </p>
                    <p>80 de ore </p>
                </div>
            </div>
            <div class="informatii-curs-row">
                    <div class="row-first-elem">
                            <p> Investitie </p>
                        </div>
               
                <p class="row-second-elem">1500 RON</p>
            </div>
            <div class="informatii-curs-row">
                    <div class="row-first-elem">
                            <p>Traineri</p>
                        </div>
                
                <div class="row-second-elem">
                    <div class="trainer-linkedin">
                        <p>Rosu Catalin</p>
                        <i href="https://www.linkedin.com/in/ro%C8%99u-c%C4%83t%C4%83lin-dorin-872322112/" class="fab fa-linkedin"></i>
                    </div>
                    <div class="trainer-linkedin">
                        <p>Pausan Ionut</p>
                        <i class="fab fa-linkedin"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="descriere-curs">
            <!-- put text into variables -->
                <div class="descriere-cui-se-adreseaza">
                    <h4>Pentru cine facem acest curs</h4>
                    <p> Acest curs iti va arata ca si tu poti construi aplicatii web chiar daca nu ai experienta in domeniul tehnic.<br> De ce ai nevoie este de o motivatie puternica,gandire  logica si cacaturi </p>
                </div>
                <div class="descriere-cui-se-adreseaza">
                    <h4> Desciere</h4>
                    <p>Lorem Ipsum este pur şi simplu o machetă pentru text a industriei tipografice. Lorem Ipsum a fost macheta standard a industriei încă din secolul al XVI-lea, când un tipograf anonim a luat o planşetă de litere şi le-a amestecat pentru a crea o carte demonstrativă pentru literele respective. Nu doar că a supravieţuit timp de cinci secole, dar şi a facut saltul în tipografia electronică practic neschimbată. A fost popularizată în anii '60 odată cu ieşirea colilor Letraset care conţineau pasaje Lorem Ipsum, iar mai recent, prin programele de publicare pentru calculator, ca Aldus PageMaker care includeau versiuni de Lorem Ipsum.</p>
                </div>
        </div>
    </div>
</div>
</section>
<!-- Info curs ends -->


<!-- PROGRAMA CURS START -->

<section class="programa-curs">
    <div class="info-title" >
        <h2>Programa curs</h2>
    </div>
    <div class="detalii-programa">
        <div class="programa-curs-row">
            <header class="programa-curs-header">
                <h4>Tehnologii folosite</h4>
                <i class="fab fa-linkedin"></i>
            </header>
            <ul class="lista-programa-curs">
                <li>HTML / CSS / Java-Script</li>
                <li>Programare orientata pe obiect</li>
                <li>Git</li>
                <li>Indrumare interviuri</li>
            </ul>
        </div>
        <div class="programa-curs-row">
            <header class="programa-curs-header">
                <h4>Cunostinte de baza</h4>
                <i class="fab fa-linkedin"></i>
            </header>
            <ul class="lista-programa-curs">
                <div class="web-basics">
                    <li >Web basics</li>
                    <div>
                        <p>HTTP(S)</p>
                        <p>TCP/IP</p>
                        <p>URL/URI</p>
                    </div>
                </div>
                <li>Programare orientata pe obiect</li>
                <li>Git</li>
                <li>Indrumare interviuri</li>
            </ul>
        </div>
        <div class="programa-curs-row">
            <header class="programa-curs-header">
                <h4>Mindset of a developer</h4>
                <i class="fab fa-linkedin"></i>
            </header>
            <ul class="lista-programa-curs">
                <li>HTML / CSS / Java-Script</li>
                <li>Programare orientata pe obiect</li>
                <li>Git</li>
                <li>Indrumare interviuri</li>
            </ul>
        </div>
    </div>
    
</section>

<!-- PROGRAMA CURS ENDS -->


<!-- Trainer description start -->

<section class="trainer-section">
    <div class="descriere-trainer">
        <div class="info-title" >
            <h2>Traineri <span>Web Development</span></h2>
        </div>
        <div class="trainer-container">
            <div class="trainer-row">
                <div class="trainer-profile">
                    <div class="trainer-image-container">
                        <img src="../../images/pozaIonutPausan.jpg" class="trainer-image" alt="Ionut Pausan Pic">
                    </div>
                    <div class="trainer-name">
                        <h3>Ionut Pausan</h3>
                    </div>
                </div>
                <div class="trainer-description">
                    <h4>Descriere trainer</h4>
                    <p>Acest curs iti va arata ca si tu poti construi aplicatii web chiar daca nu ai experienta in domeniul tehnic.<br> De ce ai nevoie este de o motivatie puternica,gandire  logica si cacaturi </p>
                    <div class="trainer-short-description">
                        <span>linkedin</span>
                        <span>fara ani experienta</span>
                    </div>
                </div>
            </div>
            <div class="trainer-delimitator"></div>
            <div class="trainer-row">
                <div class="trainer-profile">
                    <div class="trainer-image-container">
                        <img src="../../images/pozaIonutPausan.jpg" class="trainer-image" alt="Ionut Pausan Pic">
                    </div>
                    <div class="trainer-name">
                        <h3>Ionut Pausan</h3>
                    </div>
                </div>
                <div class="trainer-description">
                    <h4>Descriere trainer</h4>
                    <p>Acest curs iti va arata ca si tu poti construi aplicatii web chiar daca nu ai experienta in domeniul tehnic.<br> De ce ai nevoie este de o motivatie puternica,gandire  logica si cacaturi </p>
                    <div class="trainer-short-description">
                        <span>linkedin</span>
                        <span>fara ani experienta</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Trainer description end -->

<!-- INSCRIERE LA CURS STARTS -->

<section class="inscriere-curs-section" id="enroll-form">
    <h1 class="info-title text-center">Vino la noi in echipa</h1>
    <div class="inscriere-curs-container">
        <div class="inscriere-marketing-section">
            <div class="marketing-section-part1">
                <h1>Mesaj indemnare la actiune</h1>
                <h3>Vrei sa avem o conversatie si sa ne cunoastem mai bine?</h3>
            </div>
            <div class"marketing-section-part2">
                    <div class="marketing-image-container">
                        <img src="../../images/html.png" alt="HTML"/>
                    </div>
                    <div class="marketing-image-container">
                        <img src="../../images/css.png" alt="CSS"/>
                    </div>
                    <div class="marketing-image-container">
                        <img src="../../images/jsicon.png" alt="JAVASCRIPT"/>     
                    </div>
                 </div>
            </div>
        </div>
        <div class="inscriere-form-container">
                <form class="formular-inscriere" action="">
                        <div class="row input-space">
                            <div class="col-xs-6 col-md-6">
                                <label for="firstname">Prenume</label>
                                <input type="text" name="firstname" value="" class="form-control input-lg" required placeholder="First Name"/>
                            </div>
                            <div class="col-xs-6 col-md-6">
                                    <label for="lastname">Nume</label>
                                <input type="text" name="lastname" value="" class="form-control input-lg" required placeholder="Last Name"/>    
                            </div>
                        </div>
    
                        <label for="date">Data nasterii*</label>
                        <div class="input-group date input-space" class="datepicker" data-provide="datepicker">
                            <input type="text" class="input-space form-control input-lg" placeholder="09.12.2019" required>
                            <div class="input-group-addon">
                                <i class="fa fa-calendar" style="color:black"></i>
                            </div>
                        </div>
                        
                        <label for="date">Cunostinte in IT</label>
                        <textarea required type="text" name="date" value="" class="input-space form-control input-lg" placeholder="Descrie in 2-3 randuri cunostintele tale in IT"/></textarea>
                        
                        <div class="row input-space">
                            <div class="col-xs-6 col-md-6">
                                <label for="email">Email</label>
                                <input required type="text" name="email" value="" class="form-control input-lg" placeholder="Your Email"/>
                            </div>
                            <div class="col-xs-6 col-md-6">
                                <label for="phone">Telefon</label>
                                <input required type="tel"  pattern="[0-9]{10}" name="phone" value="" class="form-control input-lg" placeholder="07439228843"/>    
                            </div>
                        </div>
                        
                        <label for="date">Industria din care provii</label>
                        <input type="text" name="date" value="" class="input-space form-control input-lg" required placeholder="Inginerie/Psihologie"/>
                        
                        <label for="month">Nivel limba engleza</label>
                        <select name="month" class = "form-control input-lg input-space" required>
                                <option value="incepator">Incepator</option>
                                <option value="mediu">Mediu</option>
                                <option value="avansat">Avansat</option>
                        </select>
    
                        <label for="marketing-source">De unde ai auzit de noi?</label>
                        <select name="month" class = "form-control input-lg input-space" required>
                                <option value="internet">Internet</option>
                                <option value="prieteni">Prieteni/Cunostinte</option>
                                <option value="social-media">Social Media</option>
                                <option value="meetup">Meetup-uri</option>
                                <option value="conferinte">Conferinte</option>
                        </select>
    
                        <div>
                            <label>Gender : </label>     
                            <label class="radio-inline">
                                <input type="radio" name="gender" value="M" id=male required />      Male
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="gender" value="F" id=female />        Female
                            </label>
                        </div>
                        <div class="termeni-conditii">
                            <input type="checkbox" name="date" value="" class="input-space form-control input-lg checkbox" required/>
                            <span>Accept termenii si conditiile</span>        
                        </div>
                        <button class="btn btn-lg btn-primary btn-block enroll-btn" type="submit">Ma inscriu</button>
                    </div>
                </form>
            </div>
    </div>
</section>

<!-- INSCRIERE LA CURS END -->

<footer class="footer">
    <div class="footer-container">
        <div class="footer-row">
            <div class="social-media">
                <h1>Contacteaza-ne pe:</h1>
                <p class="social-media-paragraph">Speak programming: 
                    <span>contact@speakprogramming.ro</span>
                </p>
                <p class="social-media-paragraph">Facebook: 
                    <span>contact@speakprogramming.ro</span>
                </p>
                <div class="social-media-icons">

                </div>
                <p>Adresa</p>
            </div>

            <div class="contact-form">
                <h1>Email us:</h1>
                <label for="email">Email</label>
                <input type="text" name="email" value="" class="form-control input-lg input-space" placeholder="Your Email"/>

                <label for="mesaj">Scrie-ne un mesaj</label>
                <textarea type="text" name="mesaj" value="" class="input-space form-control input-lg" placeholder="Mesaj..."/></textarea>
                <button class="btn btn-lg btn-primary submit-button">Submit</button>
            </div>
        </div>


        <p class="mb-2 copyright-message text-center"><small>COPYRIGHT © 2017. ALL RIGHTS RESERVED BY <a href="">SPEAK PROGRAMMING</a></small></p>
        <small class="copyright-message text-center footer-links">
            <a href="#" class="m-2">PRESS</a>
            <a href="#" class="m-2">TERMS</a>
            <a href="#" class="m-2">PRIVACY</a>
        </small>
    </div>
</footer>


</body>

</html>
