<!doctype html>
<html>


<head>
    <title>Speak Programming</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <!-- Font -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <!-- Themify Icons -->
    <link rel="stylesheet" href="../../css/themify-icons.css">
    <!-- Owl carousel -->
    <link rel="stylesheet" href="../css/detalii-curs.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker3.css">
    <!-- Main css -->
    <link rel="stylesheet" href="../../css/constants.css">
    <link href="../../css/style.css" rel="stylesheet">
    <link rel="shortcut icon" href="../../images/partea_de_susLogo.png"/>
</head>

<body data-spy="scroll" data-target="#navbar" data-offset="30">

<!-- Nav Menu -->
<div class="nav-menu fixed-top">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-dark navbar-expand-lg">
                    <a class="navbar-brand" href="../../home-page/index.html"><img src="../../images/head.png" height="50" width="50" class="img-fluid" alt="logo"></a> <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
                    <div class="collapse navbar-collapse" id="navbar">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item"> <a class="nav-link active" href="../../home-page/index.html">ACASĂ <span class="sr-only">(current)</span></a> </li>
                            <li class="nav-item"> <a class="nav-link active" href="../../home-page/index.html">Informatii curs <span class="sr-only"></span></a> </li>
                            <li class="nav-item"> <a class="nav-link active" href="../../home-page/index.html">Traineri <span class="sr-only"></span></a> </li>
                            <li class="nav-item"> <a class="nav-link active" href="../../home-page/index.html">Inscrie-te <span class="sr-only"></span></a> </li>
                            <li class="nav-item"> <a class="nav-link active" href="../../home-page/index.html">Contact <span class="sr-only"></span></a> </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>

<!-- Header start -->

<header  class="header-detalii-curs">
        <h2 class="detalii-curs-titlu"></h2>
        <h4 class="detalii-curs-motto"></h4>
        <div class="detalii-curs-button-container">
            <button type="btn-lg button" class="btn btn-dark enroll-header-btn">
                <a href="#enroll-form">ÎNSCRIE-TE</a>
            </button>
        </div>
    </div>
</header>

<!-- Header ends -->

<!-- Info curs start -->
<section class="curs-container">
<div class="info-curs-container">
    <div class="info-title" >
        <h2>Informatii despre cursul intro in web development</h2>
    </div>
    <div class="info-curs-detalii" >
        <div class="informatii-curs-sumar">
            <h3>Informatii Curs</h3>
            <div class="informatii-curs-row">
                <div class="row-first-elem">
                    <p>Nivel</p>
                </div>
                <p class="row-second-elem nivel-curs"></p>
            </div>
            <div class="informatii-curs-row">
                <div class="row-first-elem">
                    <p>Data start</p>
                </div>
                <div class="row-second-elem">
                    <div class="trainer-linkedin">
                        <p class="data-start-curs"></p>
                        <i class="far fa-calendar-alt"></i>
                    </div>
                </div>
            </div>
            <div class="informatii-curs-row">
                <div class="row-first-elem">
                    <p>Durata</p>
                </div>
                <div class="row-second-elem">
                    <p class="durata-curs"></p>
                    <p class="numar-ore-sapt-curs"></p>
                    <p class="numar-total-ore-curs"></p>
                </div>
            </div>
            <div class="informatii-curs-row">
                    <div class="row-first-elem">
                            <p> Investitie </p>
                        </div>
               
                <p class="row-second-elem pret-curs-detalii"></p>
            </div>
            <div class="informatii-curs-row">
                <div class="row-first-elem">
                        <p>Traineri</p>
                    </div>
                <div class="row-second-elem row-second-elem-traineri">
                </div>
            </div>
        </div>
        <div class="descriere-curs">
            <!-- put text into variables -->
                <div class="descriere-cui-se-adreseaza">
                    <h4>Pentru cine facem acest curs</h4>
                    <p> Acest curs iti va arata ca si tu poti construi aplicatii web chiar daca nu ai experienta in domeniul tehnic.<br> De ce ai nevoie este de o motivatie puternica,gandire  logica si cacaturi </p>
                </div>
                <div class="descriere-cui-se-adreseaza">
                    <h4> Desciere</h4>
                    <p>Lorem Ipsum este pur şi simplu o machetă pentru text a industriei tipografice. Lorem Ipsum a fost macheta standard a industriei încă din secolul al XVI-lea, când un tipograf anonim a luat o planşetă de litere şi le-a amestecat pentru a crea o carte demonstrativă pentru literele respective. Nu doar că a supravieţuit timp de cinci secole, dar şi a facut saltul în tipografia electronică practic neschimbată. A fost popularizată în anii '60 odată cu ieşirea colilor Letraset care conţineau pasaje Lorem Ipsum, iar mai recent, prin programele de publicare pentru calculator, ca Aldus PageMaker care includeau versiuni de Lorem Ipsum.</p>
                </div>
        </div>
    </div>
</div>
</section>
<!-- Info curs ends -->


<!-- PROGRAMA CURS START -->
<div class="programa-curs-container">
<section class="programa-curs">
    <div class="info-title" >
        <h2>Programa curs</h2>
    </div>
    <div class="detalii-programa">
        <div class="programa-curs-row">
            <header class="programa-curs-header">
                <h4>Tehnologii folosite</h4>
                <i class="fab fa-linkedin"></i>
            </header>
            <ul class="lista-programa-curs">
                <li>HTML / CSS / Java-Script</li>
                <li>Programare orientata pe obiect</li>
                <li>Git</li>
                <li>Indrumare interviuri</li>
            </ul>
        </div>
        <div class="programa-curs-row">
            <header class="programa-curs-header">
                <h4>Cunostinte de baza</h4>
                <i class="fab fa-linkedin"></i>
            </header>
            <ul class="lista-programa-curs">
                <div class="web-basics">
                    <li >Web basics</li>
                    <div>
                        <p>HTTP(S)</p>
                        <p>TCP/IP</p>
                        <p>URL/URI</p>
                    </div>
                </div>
                <li>Programare orientata pe obiect</li>
                <li>Git</li>
                <li>Indrumare interviuri</li>
            </ul>
        </div>
        <div class="programa-curs-row">
            <header class="programa-curs-header">
                <h4>Mindset of a developer</h4>
                <i class="fab fa-linkedin"></i>
            </header>
            <ul class="lista-programa-curs">
                <li>HTML / CSS / Java-Script</li>
                <li>Programare orientata pe obiect</li>
                <li>Git</li>
                <li>Indrumare interviuri</li>
            </ul>
        </div>
    </div>
    
</section>
</div>

<!-- PROGRAMA CURS ENDS -->


<!-- Trainer description start -->

<section class="trainer-section">
    <div class="descriere-trainer">
        <div class="info-title" >
            <h2>Traineri <span class="titlu-curs-red"></span></h2>
        </div>
        <div class="trainer-container">
            <!-- <div class="trainer-delimitator"></div>  -->
        </div>
    </div>
</section>

<!-- Trainer description end -->

<!-- INSCRIERE LA CURS STARTS -->

<section class="inscriere-curs-section" id="enroll-form">
    <h1 class="info-title text-center">Vino la noi in echipa</h1>
    <div class="inscriere-curs-container">
        <div class="inscriere-marketing-section">
            <div class="marketing-section-part1">
                <h1 style="color:white">Vino sa ne cunoastem</h1>
                <h3>Vrei sa avem o conversatie si sa ne cunoastem mai bine?</h3>
            </div>
            <div class = "marketing-section-part2">
                <div class="img-container">
                    <div class="marketing-image-container">
                        <img src="../../images/html.png" alt="HTML"/>
                    </div>
                    <div class="marketing-image-container">
                        <img src="../../images/css.png" alt="CSS"/>
                    </div>
                    <div class="marketing-image-container">
                        <img src="../../images/jsicon.png" alt="JAVASCRIPT"/>     
                    </div>
                 </div>
            </div>
        </div>
        <div class="inscriere-form-container">
                <form class="formular-inscriere">
                        <div class="row input-space">
                            <div class="col-xs-6 col-md-6">
                                <label for="firstname">Prenume</label>
                                <input type="text" name="firstname" value="" class="form-control input-lg first-name" required placeholder="First Name"/>
                                <p class="firstname-error-msg"></p>
                            </div>
                            <div class="col-xs-6 col-md-6">
                                    <label for="lastname">Nume</label>
                                <input type="text" name="lastname" value="" class="form-control input-lg last-name" required placeholder="Last Name"/>    
                                <p class="lastname-error-msg"></p>
                            </div>
                        </div>
    
                        <label for="date">Data nasterii*</label>
                        <div class="input-group date input-space" class="datepicker date-input" data-provide="datepicker">
                            <input type="text" class="input-space form-control input-lg date-input" placeholder="09.12.2019" required>
                            <div class="input-group-addon">
                                <i class="fa fa-calendar" style="color:black"></i>
                            </div>
                            <p class="date-error-msg"></p>
                        </div>
                        
                        <label for="date">Cunostinte in IT</label>
                        <textarea required type="text" name="date" value="" class="input-space form-control input-lg it-knowledge" placeholder="Descrie in 2-3 randuri cunostintele tale in IT"/></textarea>
                        <p class="knowledge-error-msg"></p>
                        <div class="row input-space">
                            <div class="col-xs-6 col-md-6">
                                <label for="email">Email</label>
                                <input required type="text" name="email" value="" class="form-control input-lg email" placeholder="Your Email"/>
                                <p class="email-error-msg"></p>
                            </div>
                            <div class="col-xs-6 col-md-6">
                                <label for="phone">Telefon</label>
                                <input required type="tel" maxlength="10"  pattern="[0-9]{10}" name="phone" value="" class="form-control input-lg phone" placeholder="07439228843"/>    
                                <p class="phone-error-msg"></p>
                            </div>
                        </div>
                        <label for="date">Industria din care provii</label>
                        <input type="text" name="date" value="" class="input-space form-control input-lg industry" required placeholder="Inginerie/Psihologie"/>
                        <p class="industry-error-msg"></p>
                        <label for="month">Nivel limba engleza</label>
                        <select name="month" class = "form-control input-lg input-space english-level" required>
                                <option value="incepator">Incepator</option>
                                <option value="mediu">Mediu</option>
                                <option value="avansat">Avansat</option>
                        </select>

                        <div class="termeni-conditii">
                            <input type="checkbox" class="input-space form-control input-lg checkbox" required/>
                            <span>Accept termenii si conditiile</span>        
                        </div>
                         <p class="message-after-enroll"></p>
                        <button class="btn btn-lg btn-primary btn-block enroll-btn" >Ma inscriu</button>
                </form>
            </div>
    </div>
</section>

<!-- INSCRIERE LA CURS END -->

<footer class="footer">
    <div class="footer-container">
        <div class="footer-row">
            <div class="social-media">
                <h1>Contacteaza-ne pe:</h1>
                <p class="social-media-paragraph">Speak programming: 
                    <span>contact@speakprogramming.ro</span>
                </p>
                <p class="social-media-paragraph">Facebook: 
                    <span>contact@speakprogramming.ro</span>
                </p>
                <div class="social-media-icons">

                </div>
            </div>

            <div class="contact-form">
                <h1>Email us:</h1>
                <label for="email">Email:</label>
                <input type="email" name="email" value="" class="form-control input-lg input-space email-footer" placeholder="Your Email"/>
                <p class="email-after-submit"></p>

                <label for="mesaj">Scrie-ne un mesaj:</label>
                <textarea type="text" name="mesaj" value="" class="input-space form-control input-lg message-footer" placeholder="Mesaj..."/></textarea>
                <p class="message-after-submit"></p>
                <button class="btn submit-button-footer">Submit</button>
            </div>
        </div>

        <p class="copyright-message text-center"><small>COPYRIGHT © 2017. ALL RIGHTS RESERVED BY <a href="">SPEAK PROGRAMMING</a></small></p>
    </div>
</footer>
    <script src="../../js/jquery-3.2.1.min.js"></script>
    <script src="../../js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>
    
    <script src="../js/formValidation.js"></script>

    <script src="../../js/makeRekuest.js"></script>
    <script src="../../js/createBodyRequest.js"></script>
    <script src="../js/detalii-curs-service.js"></script>
    <script src="../js/detalii-curs.js"></script>
</body>
</html>
