.card{
    background: var(--card-bk-color);
}

.courseDetails {
    background: var(--main-red-color)!important;
}

.courseDetails:hover {
    cursor: pointer;
    background: var(--btn-font-size);
}

.nav-bar-container {
    width: var(--main-content-width);
    margin:0 auto;
}

.course-image-container {
    width: var(--full-dimension);
    height: 37%;
    content: url("../images/headerbk.jpg");
}

.home-main-header{
    margin-bottom: 50px;
}

.section-home-trainer{
    border-bottom: var(--main-border-container);
    border-top: var(--main-border-container);
    background: #181818;
    margin-top: -1px;
}

.section-home-curs {
    background: #181818;
    border-bottom: var(--main-border-container);
}

.home-header {
    border-bottom: var(--main-border-container);
    height: 960px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    opacity: 0.9
}

.linkedin-icon-container{
    color: var(--main-header-color);
    font-size: 40px;
    width:9%;
    text-align: center;
    margin: 0 auto;
    margin-top: 4%;
}

.take-action-message {
    margin-top: 30px;
    color:white;
}

.take-action-message p{
    font-size: var(--main-small-font-size);
    color:white!important;
}

.enroll-header-btn {
    background: var(--main-red-color);
}

.enroll-header-btn:hover {
    font-size: var(--btn-font-size-hover);
}

.section-about-us {
    height: auto;
}

.why-us-header {
    padding: 50px 0 30px 0;
}

.btn-course {
    border-radius: 3px;
    background-color: var(--black);
    border: 0;
    font-weight: 500;
    color: #fff;
}

.btn-course:hover {
    background-color: var(--black);
    color: #fff;
    background-color: var(--main-red-color);
    font-size: var(--btn-font-size-hover);
}

.curs-title {
    color: var(--main-red-color);
    font-size: var(--main-small-font-size);
}

.section-despre-noi {
    border-bottom: 1px solid #dad9d9;
}

.list-group {
    padding-bottom: 40px;
}

.list-group-item {
    background: var(--card-bk-color);
}

.btn-light {
    border-radius: 3px;
    background: #FFF;
    box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.26);
    font-size: var(--btn-font-size);
    font-weight: 500;
    color: #e60508;
    margin: 0.5rem;
    padding: 0.7rem 1.6rem;
    line-height: 1.8;
}

.home-header {
    background-image: url('../images/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
}


/*Start css despre noi*/
.section-despre-noi {
    border-bottom: 1px solid #dad9d9;
    background-image: url("../img/header1.jpg");
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
}
 .section-despre-noi-flex{
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
    width: 60%;
    margin: 0 auto;
} 

.despre-noi-div-descriere {
    width: 32%;
    border-right: 2px solid grey;
    padding:0 2%;
}


.despre-noi-div-descriere h3{
    text-align: center;
    padding: 20px 0;
}

.despre-noi-div-descriere-last {
    border: none;
}

.why-us-icon {
    font-size: 60px!important;
    width: 100%;
    color: var(--main-red-color);
    text-align: center;
}

.section-despre-noi-content {
    background-color: rgba(0, 0, 0, 0.6);
}

@media (max-width:992px) {
    .home-header {
        height: 680px;
    }

    .h1 {
        font-size: 40px!important;
    }

    .home-main-header, .why-us-header, .social-media h1, .contact-form h1 {
        font-size: 40px
    }

    .price {
        font-size:35px;
    }

    .list-group {
        padding-bottom: 20px;
    }

    .course {
        width: 100%;
    }

    .section-despre-noi-flex {
        flex-direction: column;
        width:90%;
    }

    .despre-noi-div-descriere {
        width: 100%;
        margin:0;
        border: none;
    }
    
}

