/* Header start */
.header-detalii-curs {
    border-bottom: 1px solid black;
}

.container-detalii-curs {
    text-align: center;
}
/* Header ends */

/* Info curs container start */
.info-title h2{
    text-align: center;
}
.info-curs-detalii{
    display: flex;
}
.informatii-curs-row{
    /* font size-font-style */
    display: flex;
}
/* Info curs container ends */



@media only screen and (max-width: 800px) {
    .divInfoCurs{
        display: block;
    }
    .detaliiCurs{
        height: 450px;
        width: 327px;
        margin: 50px 5px 50px 17px;

    }
    .descriereCurs{
        height: 500px;
        width: 100%;
        margin: 50px 50px 50px 5px;
    }
    .divContentLabel{
        float: left;
        margin: 5px 35px 80px 49px;
    }
    .divCintentText{
        float: left;
        margin:  5px 20px 80px 10px;
    }
}
