/* Header start */
.header-detalii-curs {
    padding-bottom:25px;
    margin-top: 40px;
}

.container-detalii-curs {
    text-align: center;
}

.detalii-curs-button-container{
    margin-bottom: 30px;
}
/* Header ends */

/* Info curs container start */
.info-curs-container {
    width: 70%;
    margin: auto;
}

.info-title{
    padding-top: 45px;
    padding-bottom: 50px;
    height: auto;
}

.info-title h2{
    text-align: center;
}

    /* DETALII CURS -START */
.info-curs-detalii{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.informatii-curs-sumar{
    width: 25%;
    -webkit-box-shadow: 2px 3px 18px -2px rgba(186,186,186,0.68);
    -moz-box-shadow: 2px 3px 18px -2px rgba(186,186,186,0.68);
    box-shadow: 2px 3px 18px -2px rgba(186,186,186,0.68);
    border-radius: 3%;
}

.informatii-curs-sumar h3 {
    text-align: center;
}

.informatii-curs-row{
    /* font size-font-style */
    display: flex;
}

.row-first-elem{
    font-weight: bold;
    width: 30%;
    padding-left: 10%;
}

.row-second-elem {
    width:60%;
    text-align: start;
    padding-left: 20%;
  }

.trainer-linkedin{
    display: flex;
    justify-content: space-between;
}
/* DETALII CURS -END */

/* DESCRIERE CURS START */
.descriere-curs{
    width: 60%;
}

.descriere-curs h4{
    font-weight: bold;
}

.descriere-cui-se-adreseaza{
    padding-bottom: 20px;
}

/* DESCRIERE CURS ENDS */

/* Info curs container ends */


/* PROGRAMA CURS START */

.programa-curs{
    margin: auto;
    width: 70%;
    justify-content: space-between;
    padding-bottom: 50px;
}

.detalii-programa {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.programa-curs-row{
    width: 30%;
    color: black;
    -webkit-box-shadow: 2px 3px 18px -2px rgba(186,186,186,0.68);
    -moz-box-shadow: 2px 3px 18px -2px rgba(186,186,186,0.68);
    box-shadow: 2px 3px 18px -2px rgba(186,186,186,0.68);
    border-radius: 3%;
}

.programa-curs-header {
    padding-top: 20px;
    display: flex;
    color:black;
    width:80%;
    margin: auto;
    justify-content: center;
}

.programa-curs-header h4{
    padding: 0 10px 0 0;
    font-weight: bold;
}

.lista-programa-curs{
    width: 90%;
    margin: auto;
    padding-bottom: 10px;
}

.lista-programa-curs li {
    padding-top: 10px;
    padding-bottom: 10px;
}

.web-basics{
    display: flex;
}

.web-basics li {
    width: 50%;
}

.web-basics div{
    padding-top: 10px;
}


/* PROGRAMA CURS ENDS */

/* DESCRIERE TRAINER START */
.trainer-section{
    background:black;
    width: 100%;
    border-bottom: 2px solid lightgray;
}
.descriere-trainer {
    width:70%;
    margin: auto;
    color: white;
}

.descriere-trainer h2,h3,h4{
    color:white;
}

.info-title span{
    color: #e5003c
}

.trainer-row {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.first-trainer {
    border-bottom: 1px solid lightgray;
}

.trainer-profile{
    width:30%;
}

.trainer-description{
    width: 60%;
}

.trainer-description p{
    color: #959094
}

.trainer-image-container{
    width: 34%;
    margin: auto;
    margin-bottom: 20px;
}

.trainer-image {
    border-radius:50%;
    margin:auto;
    width: 136px;
    height: 136px;
}

.trainer-name{
    width:50%;
    margin: auto;
    margin-bottom: 20px;
}

.trainer-name h3{
    text-align: center;
}

.trainer-description h4,p{
    padding-bottom: 10px;
}

.trainer-short-description span{
    padding-right: 10%;
}


/* DESCRIERE TRAINER ENDS */

/* INSCRIERE CURS START */

.inscriere-curs-container{
    display: flex;
    padding-top:40px;
    padding-bottom: 40px;
    height: 200px;
}

.inscriere-marketing-section{
    width:49%;
    background-color: lightgrey;
    height:auto;
}

.inscriere-form-container{
    width:49%;
    background: lightblue;
}

.formular-inscriere{
    display: flex;
    flex-direction: column;
}
.formular-inscriere label{
    font-weight: bold;
    display: block;
}

.formular-inscriere{
    padding: 0 20px 0 20px;
}

.formular-inscriere input,button{
    border-radius: 3%;
    border:none;
}

.full-name {
    display:flex;
}

.full-name div{
    width:50%;
}



/* INSCRIERE CURS END */