/* Header start */
.header-detalii-curs {
    border-bottom: 1px solid grey;
}

/* Header ends */







.contentInfoCurs{
    background-color: #ccc2c229;
}
.divInfoCurs{
    display: flex;
}
.detaliiCurs{
    height: 450px;
    width: 350px;
    margin: 50px 49px 50px 90px;
    background-color:white;
    -webkit-box-shadow: 2px 2px 42px 16px rgba(0,0,0,0.14);
    -moz-box-shadow: 2px 2px 42px 16px rgba(0,0,0,0.14);
    box-shadow: 2px 2px 42px 16px rgba(0,0,0,0.14);
    zoom: 1;
    border-radius: .50rem;
}
.descriereCurs{
    height: 500px;
    width: 60%;
    margin: 50px 50px 50px 5px;

}
.textOffset{
    margin-top:20px;
    text-align:left;
    font-weight: bold;
}
.textOffsetBig{
    margin-top:107px;
    text-align:left;
    font-weight: bold;
}
.divContentLabel{
    float: left;
    margin:10px  50px 80px 40px;
}
.divCintentText{
    float: left;
    margin:  10px 10px 10px 10px;
}
.contentDescCurs{
    margin-left: 40px;
}
.contentTrainerDetails{
    display: flex;
    margin: 30px 80px 20px 0;
    background-color: peru;

}
.team-box-trainer{
    margin-left: 250px;
    background-color: #1c7430;
}
.descriereTrainer{
    background-color: red;
    width: 60%;
    margin-left: 96px;
}
.repetClassStyle{
    float: left;
    margin-left: 20px;
}
@media only screen and (max-width: 800px) {
    .divInfoCurs{
        display: block;
    }
    .detaliiCurs{
        height: 450px;
        width: 327px;
        margin: 50px 5px 50px 17px;

    }
    .descriereCurs{
        height: 500px;
        width: 100%;
        margin: 50px 50px 50px 5px;
    }
    .divContentLabel{
        float: left;
        margin: 5px 35px 80px 49px;
    }
    .divCintentText{
        float: left;
        margin:  5px 20px 80px 10px;
    }
}
