/* Header start */
.header-detalii-curs {
    background-image: url("../../img/webdev.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom:25px;
    margin-top: 40px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: var(--main-border-container);
}

.detalii-curs-titlu{
    font-size: 80px;
    margin-bottom: 30px;
}

.detalii-curs-motto{
    font-size: 35px;
    margin-bottom: 30px;
}

.enroll-header-btn{
    background: var(--main-red-color);
    font-size: var(--btn-font-size);
}

.enroll-header-btn:hover {
    background: var(--main-red-color);
    cursor: pointer;
    border: 1px solid transparent;
    font-size: var(--btn-font-size-hover);
}

.container-detalii-curs {
    text-align: center;
}

.detalii-curs-button-container{
    margin-bottom: 30px;
}
/* Header ends */

/* Info curs container start */
.curs-container {
    width: var(--full-dimension);
    padding-bottom:40px;
    border-bottom: var(--main-border-container);
}
.info-curs-container {
    width: var(--main-content-width);
    margin: auto;
}

.info-title{
    padding-top: 55px;
    padding-bottom: 50px;
    height: auto;
}

.info-title h2{
    text-align: center;
    font-size: 50px;
}

    /* DETALII CURS -START */
.info-curs-detalii{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.informatii-curs-sumar{
    width: 32%;
    /* -webkit-box-shadow: 2px 3px 18px -2px rgba(186,186,186,0.68);
    -moz-box-shadow: 2px 3px 18px -2px rgba(186,186,186,0.68);
    box-shadow: 2px 3px 18px -2px rgba(186,186,186,0.68); */
    border-radius: 3%;
    background: var(--card-bk-color);
    /* border: 1px solid #f1eef1; */
}

.informatii-curs-sumar h3 {
    text-align: center;
    padding:20px 0;
}

.informatii-curs-row{
    display: flex;
}

.row-first-elem{
    font-weight: bold;
    width: 30%;
    padding-left: 10%;
}

.row-first-elem p {
    color: var(--main-header-color);
}

.row-second-elem {
    width:60%;
    text-align: start;
    padding-left: 20%;
  }

.trainer-linkedin{
    display: flex;
    justify-content: space-between;
}


.trainer-linkedin i {
    padding-top: 8px;
}

.trainer-linkedin i:hover {
    color: blue;
    cursor: pointer;
}
/* DETALII CURS -END */

/* DESCRIERE CURS START */
.descriere-curs{
    width: 62%;
}

.descriere-curs h4{
    font-weight: bold;
}

.descriere-cui-se-adreseaza{
    padding-bottom: 20px;
}

.descriere-cui-se-adreseaza h4{
    padding-bottom: 10px;
}

/* DESCRIERE CURS ENDS */

/* Info curs container ends */


/* PROGRAMA CURS START */
.programa-curs-container {
    background-image: url('../../img/header1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: var(--main-border-container);
}

.programa-curs{
    margin: auto;
    width: var(--main-content-width);
    justify-content: space-between;
    padding-bottom: 50px;
      
}

.detalii-programa {
    width: var(--full-dimension);
    display: flex;
    justify-content: space-between;
}

.programa-curs-row{
    width: 30%;
    border-radius: 3%;
    background: var(--card-bk-color);
}

.programa-curs-header {
    padding-top: 20px;
    display: flex;
    width:80%;
    margin: auto;
    justify-content: center;
}

.programa-curs-header h4{
    padding: 20px 0;
    font-weight: bold;
}

.programa-curs-header i {
    padding:25px 0 0 15px;
}


.lista-programa-curs{
    width: 90%;
    margin: auto;
    padding-bottom: 10px;
}

.lista-programa-curs li {
    padding-top: 10px;
    padding-bottom: 10px;
}

.web-basics{
    display: flex;
}

.web-basics li {
    width: 50%;
}

.web-basics div{
    padding-top: 10px;
}


/* PROGRAMA CURS ENDS */

/* DESCRIERE TRAINER START */
.trainer-section{
    position: relative;
    width: var(--full-dimension);
    border-bottom: var(--main-border-container);
    padding-bottom: 70px;
}

.descriere-trainer {
    width:var(--main-content-width);
    margin: auto;
    color: white;
}


.info-title span{
    color: var(--main-red-color)
}

.trainer-row {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.trainer-profile{
    width:30%;
}

.trainer-delimitator {
    height: 1px;
    width: var(--full-dimension);
    position: absolute;
    top:57%;
    left: 0;
    z-index:33;
    margin:auto;
}

.trainer-description{
    width: 60%;
}

.trainer-image-container{
    width: 34%;
    margin: auto;
    margin-bottom: 20px;
}

.trainer-image {
    border-radius:50%;
    margin:auto;
    width: 136px;
    height: 136px;
}

.trainer-name{
    width:66%;
    margin-bottom: 20px;
}

.display-center {
    margin: 0 auto;
}

.trainer-name h3{
    text-align: center;
}

.trainer-description h4,p{
    padding-bottom: 10px;
}

.trainer-short-description span{
    padding-right: 5%;
}

.marketing-section-part1{
    height: 50%;
}

.marketing-section-part1 h1{
    font-size: 50px;
    text-align: center;
    padding: 15% 0 20px 0;
    font-weight: bold;
    color: var(--black);
}

.marketing-section-part1 h3{
    text-align: center;
    padding: 40px 0 20px 0;
}

.img-container{
    display: flex;
    justify-content: space-around;
    padding-top: 15%;
}

.marketing-image-container {
    width: 25%;
}

.marketing-image-container img {
    width: 90%;
    height: 90%;
}

/* DESCRIERE TRAINER ENDS */

/* INSCRIERE CURS START */

.inscriere-curs-section {
    padding-bottom: 50px;
}
.curs-container {
  
}

.inscriere-curs-container{
    display: flex;
    width: var(--main-content-width);
    margin: auto;
}

.inscriere-marketing-section{
    background-image: url("../../img/curs.png");
    background-size: cover; 
    border-radius: 2%;
    width:49%;
    background-color: lightgrey;
    height:auto;
    display: flex;
    flex-direction: column;
}

.inscriere-form-container{
    width:49%;
}

.formular-inscriere{
    width: 90%;
    margin:0 auto;
}

.input-space{
    margin-bottom: 20px;
}

.termeni-conditii{
    display: flex;
    margin-bottom: 20px;
}

.checkbox{
    width: 2%;
    margin-top: 5px;
    margin-right:10px;
}

form label{
    font-weight:bold;
    font-size: var(--main-small-font-size);
}

.enroll-btn {
    font-size: var(--btn-font-size);
    background: var(--main-red-color)!important;
}

.enroll-btn:hover {
    font-size: var(--btn-font-size-hover);
    cursor: pointer;
    background-color: var(--main-red-color);
}
/* INSCRIERE CURS END */

/* FOOTER START */

.footer {
    padding-top: 40px;
    background-color: var(--black);
}

.footer-container {
    width: var(--main-content-width);
    margin: auto;
}

.footer-row {
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
}

.footer label {
    color: var(--main-header-color);
    font-size: var(--main-small-font-size);
}

.social-media, .contact-form {
    width: 45%;
    padding: 0 15px;
}

.contact-form textarea{
    margin-bottom: 35px;
}


.copyright-message {
    width: var(--full-dimension);
    margin: auto;
}
.copyright-message a{
    color: var(--main-red-color);
}

.social-media-paragraph{
    text-align: left;
    color: white;
}

.social-media-paragraph span{
    color: #959094;
}

.submit-button-footer {
    height: 45px;
    color: white;
    font-size: var(--btn-font-size);
    width: 50%;
    background-color: var(--main-red-color);
    float: right;
    box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
}

.submit-button-footer:hover {
    cursor: pointer;
    background-color: #f1144f;
    transition: all 0.3s ease;
    font-size: var(--btn-font-size-hover);
}

.footer-links {
    margin: auto;
}

@media (max-width:992px) {
    .h1 {
        font-size: 40px;
    }

   .footer-row {
       flex-direction: column;
   }

   .footer-container {
       width: 100%;
       margin: 0;
   }

   .social-media {
       width: 100%;
       margin: 0 auto;
   }

   .social-media h1 {
       text-align: center;
   }

   .copyright-message {
       font-size: 55%;
   }

   .contact-form {
       width: 100%;
   }

   .contact-form h1 {
       text-align: center;
   }
  /* css start */
  .detalii-curs-titlu {
        font-size: 45px;
        margin-bottom: 30px;
    }

  .info-title h2 {
        text-align: center;
        font-size: 23px;
    }

  .info-curs-detalii {
        display: block;
        justify-content: space-between;
        margin-bottom: 30px;
    }

  .info-curs-container {
        width: var(--main-content-width-mobile);
        margin: auto;
    }
  .informatii-curs-sumar {
        width: 100%;
        border-radius: 3%;
        background: var(--card-bk-color);
    }
    .descriere-curs {
        width: 100%;
    }
    .descriere-cui-se-adreseaza{
        margin-top: 30px;
    }
    .detalii-programa {
        width: var(--full-dimension);
        display: block;
        justify-content: space-between;
    }
    .programa-curs-row {
        width: 100%;
        border-radius: 3%;
        background: var(--card-bk-color);
        margin-bottom: 40px;
    }
    .programa-curs {
        margin: auto;
        width: var(--main-content-width-mobile);
        justify-content: space-between;
        padding-bottom: 50px;
    }
    .trainer-row {
        margin-top: 40px;
        display: block;
        justify-content: center;
    }
    .trainer-profile {
        width: 100%;
    }
    .info-title {
        padding-top: 55px;
        padding-bottom: 0;
        font-size: 50px;
        height: auto;
    }
    .trainer-description {
        width: 100%;
    }
    .trainer-image-container {
        width: 34%;
        justify-content: center;
        margin-bottom: 20px;
    }
    .trainer-image {
        border-radius: 50%;
      /*  todo: vezi aici cu margi ca nu resuesc sa o centrez decat cu tigania asta adica margin -30px*/
        margin-left: -30px;
        width: 136px;
        height: 136px;
    }
    .trainer-name {
        width: 100%;
        margin-bottom: 20px;
    }
    .inscriere-curs-container {
        display: block;
        width: var(--main-content-width-mobile);
        margin: auto;
    }
    .inscriere-marketing-section{
        width: 100%;
    }
    .inscriere-form-container{
        width: 100%;
    }
}

.red {
    color: var(--main-red-color);
    padding-bottom: 0;
}

.green {
    color: #52c41a;
    padding-bottom: 0;
}


/* FOOTER END */

.trainer-row:last-of-type {
    background : red!important;
}