.divNewTeam{
    border: 1px solid #f1eef1;
    width: 25%;
    border-radius: 3%;

}
.contentTem{
    display: flex;
}
@media only screen and (max-width: 600px){
    .contentTem{
        display: block;
        margin-top: 50px;
    }
}